# Install Required Library

In [ ]:
pip install snowflake-snowpark-python

Requirement already satisfied: snowflake-snowpark-python in /usr/local/lib/python3.10/dist-packages (1.14.0)
Requirement already satisfied: setuptools>=40.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (67.7.2)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (0.43.0)
Requirement already satisfied: snowflake-connector-python<4.0.0,>=3.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (3.8.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (4.11.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (6.0.1)
Requirement already satisfied: cloudpickle!=2.1.0,!=2.2.0,<=2.2.1,>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-snowpark-python) (2.2.1)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (1.16.0)
Requirement already satisfied: cryptography<43.0.0,>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (42.0.5)
Requirement already satisfied: pyOpenSSL<25.0.0,>=16.2.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (24.1.0)
Requirement already satisfied: pyjwt<3.0.0 in /usr/lib/python3/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2.3.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2023.4)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2.31.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (24.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (3.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2024.2.2)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (3.13.4)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (4.2.0)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (0.12.4)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python<4.0.0,>=3.6.0->snowflake-snowpark-python) (2.0.7)

# Create Snowpark Session

In [ ]:
from snowflake.snowpark.session import Session

username = 'MAGICDASH91'
password = '*************'
account = 'tk11073.europe-west4.gcp'
warehouse = 'COMPUTE_WH'
database = 'DATABASE'
schema = 'PUBLIC'

def snowpark_session_create():
  connection_params = {
      "user": username,
      "password": password,
      "account": account,
      "warehouse": warehouse,
      "database": database,
      "schema": schema
  }

  # Create the session
  session = Session.builder.configs(connection_params).create()
  return session

demo_session = snowpark_session_create()

# Start Querying your data

In [ ]:
df = demo_session.sql('SELECT * FROM CROSS_SELL')
df.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"GENDER"  |"AGE"  |"DRIVING_LICENSE"  |"REGION_CODE"  |"PREVIOUSLY_INSURED"  |"VEHICLE_AGE"  |"VEHICLE_DAMAGE"  |"ANNUAL_PREMIUM"  |"POLICY_SALES_CHANNEL"  |"VINTAGE"  |"RESPONSE"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1     |Male      |44     |1                  |28.0           |0                     |> 2 Years      |True              |40454.0           |26.0                    |217        |1           |
|2     |Male      |76     |1                  |3.0            |0                     |1-2 Year       |False             |33536.0           |26.0                    |183        |0           |
|3     |Male      |47     |1                  |28.0           |0                     |> 2 Years      |True              |38294.0           |26.0                    |27         |1           |
|4     |Male      |21     |1                  |11.0           |1                     |< 1 Year       |False             |28619.0           |152.0                   |203        |0           |
|5     |Female    |29     |1                  |41.0           |1                     |< 1 Year       |False             |27496.0           |152.0                   |39         |0           |
|6     |Female    |24     |1                  |33.0           |0                     |< 1 Year       |True              |2630.0            |160.0                   |176        |0           |
|7     |Male      |23     |1                  |11.0           |0                     |< 1 Year       |True              |23367.0           |152.0                   |249        |0           |
|8     |Female    |56     |1                  |28.0           |0                     |1-2 Year       |True              |32031.0           |26.0                    |72         |1           |
|9     |Female    |24     |1                  |3.0            |1                     |< 1 Year       |False             |27619.0           |152.0                   |28         |0           |
|10    |Female    |32     |1                  |6.0            |1                     |< 1 Year       |False             |28771.0           |152.0                   |80         |0           |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Snowflake Transformation

In [ ]:
import snowflake.snowpark.functions as F

In [ ]:
# Show the Age where Age between 30 and 44
df_age = df.filter(F.col('AGE').between(30,44))
df_age.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"GENDER"  |"AGE"  |"DRIVING_LICENSE"  |"REGION_CODE"  |"PREVIOUSLY_INSURED"  |"VEHICLE_AGE"  |"VEHICLE_DAMAGE"  |"ANNUAL_PREMIUM"  |"POLICY_SALES_CHANNEL"  |"VINTAGE"  |"RESPONSE"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1     |Male      |44     |1                  |28.0           |0                     |> 2 Years      |True              |40454.0           |26.0                    |217        |1           |
|10    |Female    |32     |1                  |6.0            |1                     |< 1 Year       |False             |28771.0           |152.0                   |80         |0           |
|13    |Female    |41     |1                  |15.0           |1                     |1-2 Year       |False             |31409.0           |14.0                    |221        |0           |
|16    |Male      |37     |1                  |6.0            |0                     |1-2 Year       |True              |2630.0            |156.0                   |147        |1           |
|19    |Male      |42     |1                  |28.0           |0                     |1-2 Year       |True              |33667.0           |124.0                   |158        |0           |
|24    |Male      |44     |1                  |28.0           |0                     |1-2 Year       |True              |41852.0           |163.0                   |60         |0           |
|25    |Male      |34     |1                  |15.0           |1                     |1-2 Year       |False             |38111.0           |152.0                   |180        |0           |
|35    |Female    |32     |1                  |30.0           |1                     |< 1 Year       |False             |27638.0           |152.0                   |169        |0           |
|36    |Male      |41     |1                  |36.0           |1                     |1-2 Year       |False             |30039.0           |124.0                   |88         |0           |
|41    |Male      |30     |1                  |30.0           |0                     |< 1 Year       |True              |24550.0           |124.0                   |45         |0           |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
# Create an aggregation about Average ANNUAL_PREMIUM for every VEHICLE_AGE
avg_ann = df.group_by('VEHICLE_AGE').agg(F.avg('ANNUAL_PREMIUM').alias('AVERAGE_ANNUAL_PREMIUM'))
avg_ann.show()

--------------------------------------------
|"VEHICLE_AGE"  |"AVERAGE_ANNUAL_PREMIUM"  |
--------------------------------------------
|> 2 Years      |35654.4994690             |
|1-2 Year       |30523.5821203             |
|< 1 Year       |30119.5520251             |
--------------------------------------------

In [ ]:
# Simple Multiplication
mul_col = df.with_column("AGE & VINTAGE", F.col('AGE') * F.col('VINTAGE'))
mul_col.show()

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"ID"  |"GENDER"  |"AGE"  |"DRIVING_LICENSE"  |"REGION_CODE"  |"PREVIOUSLY_INSURED"  |"VEHICLE_AGE"  |"VEHICLE_DAMAGE"  |"ANNUAL_PREMIUM"  |"POLICY_SALES_CHANNEL"  |"VINTAGE"  |"RESPONSE"  |"AGE & VINTAGE"  |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|1     |Male      |44     |1                  |28.0           |0                     |> 2 Years      |True              |40454.0           |26.0                    |217        |1           |9548             |
|2     |Male      |76     |1                  |3.0            |0                     |1-2 Year       |False             |33536.0           |26.0                    |183        |0           |13908            |
|3     |Male      |47     |1                  |28.0           |0                     |> 2 Years      |True              |38294.0           |26.0                    |27         |1           |1269             |
|4     |Male      |21     |1                  |11.0           |1                     |< 1 Year       |False             |28619.0           |152.0                   |203        |0           |4263             |
|5     |Female    |29     |1                  |41.0           |1                     |< 1 Year       |False             |27496.0           |152.0                   |39         |0           |1131             |
|6     |Female    |24     |1                  |33.0           |0                     |< 1 Year       |True              |2630.0            |160.0                   |176        |0           |4224             |
|7     |Male      |23     |1                  |11.0           |0                     |< 1 Year       |True              |23367.0           |152.0                   |249        |0           |5727             |
|8     |Female    |56     |1                  |28.0           |0                     |1-2 Year       |True              |32031.0           |26.0                    |72         |1           |4032             |
|9     |Female    |24     |1                  |3.0            |1                     |< 1 Year       |False             |27619.0           |152.0                   |28         |0           |672              |
|10    |Female    |32     |1                  |6.0            |1                     |< 1 Year       |False             |28771.0           |152.0                   |80         |0           |2560             |
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# For other Snowpark Functions you can check here :

https://docs.snowflake.com/en/developer-guide/snowpark/reference/python/latest/api/snowflake.snowpark.functions.function

# Alter (Editing) Existing Dataframe

In [ ]:
# Rename "AVERAGE_ANNUAL_PREMIUM" to be "AVERAGE_ANNUAL_PREMIUM_ALL_AGE"
avg_ann = avg_ann.with_column_renamed(F.col('AVERAGE_ANNUAL_PREMIUM'), 'AVERAGE_ANNUAL_PREMIUM_ALL_AGE')
avg_ann.show()

----------------------------------------------------
|"VEHICLE_AGE"  |"AVERAGE_ANNUAL_PREMIUM_ALL_AGE"  |
----------------------------------------------------
|> 2 Years      |35654.4994690                     |
|1-2 Year       |30523.5821203                     |
|< 1 Year       |30119.5520251                     |
----------------------------------------------------

# Snowflake Drop column

In [ ]:
df.drop("ID").show()

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|"GENDER"  |"AGE"  |"DRIVING_LICENSE"  |"REGION_CODE"  |"PREVIOUSLY_INSURED"  |"VEHICLE_AGE"  |"VEHICLE_DAMAGE"  |"ANNUAL_PREMIUM"  |"POLICY_SALES_CHANNEL"  |"VINTAGE"  |"RESPONSE"  |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
|Male      |44     |1                  |28.0           |0                     |> 2 Years      |True              |40454.0           |26.0                    |217        |1           |
|Male      |76     |1                  |3.0            |0                     |1-2 Year       |False             |33536.0           |26.0                    |183        |0           |
|Male      |47     |1                  |28.0           |0                     |> 2 Years      |True              |38294.0           |26.0                    |27         |1           |
|Male      |21     |1                  |11.0           |1                     |< 1 Year       |False             |28619.0           |152.0                   |203        |0           |
|Female    |29     |1                  |41.0           |1                     |< 1 Year       |False             |27496.0           |152.0                   |39         |0           |
|Female    |24     |1                  |33.0           |0                     |< 1 Year       |True              |2630.0            |160.0                   |176        |0           |
|Male      |23     |1                  |11.0           |0                     |< 1 Year       |True              |23367.0           |152.0                   |249        |0           |
|Female    |56     |1                  |28.0           |0                     |1-2 Year       |True              |32031.0           |26.0                    |72         |1           |
|Female    |24     |1                  |3.0            |1                     |< 1 Year       |False             |27619.0           |152.0                   |28         |0           |
|Female    |32     |1                  |6.0            |1                     |< 1 Year       |False             |28771.0           |152.0                   |80         |0           |
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

# Join the table

In [ ]:
# We have to make 2nd aggregation dataframe
avg_ann2 = df_age.group_by('VEHICLE_AGE').agg(F.avg('ANNUAL_PREMIUM').alias('AVERAGE_ANNUAL_PREMIUM_30_TO_44'))
avg_ann2.show()

-----------------------------------------------------
|"VEHICLE_AGE"  |"AVERAGE_ANNUAL_PREMIUM_30_TO_44"  |
-----------------------------------------------------
|> 2 Years      |33157.8273078                      |
|< 1 Year       |27853.8153776                      |
|1-2 Year       |28789.0972791                      |
-----------------------------------------------------

In [ ]:
join_df = avg_ann.join(avg_ann2, "VEHICLE_AGE").select(avg_ann.VEHICLE_AGE.alias("VEHICLE_AGE"),
                                                       avg_ann.AVERAGE_ANNUAL_PREMIUM_ALL_AGE,
                                                       avg_ann2.AVERAGE_ANNUAL_PREMIUM_30_TO_44)

join_df.show()

----------------------------------------------------------------------------------------
|"VEHICLE_AGE"  |"AVERAGE_ANNUAL_PREMIUM_ALL_AGE"  |"AVERAGE_ANNUAL_PREMIUM_30_TO_44"  |
----------------------------------------------------------------------------------------
|> 2 Years      |35654.4994690                     |33157.8273078                      |
|1-2 Year       |30523.5821203                     |28789.0972791                      |
|< 1 Year       |30119.5520251                     |27853.8153776                      |
----------------------------------------------------------------------------------------